# Python object code.
*.pyc
*.pyo
*~
__pycache__

# Virtual environment path
.venv

# VS Code configuration
.vscode

# Directory for user mcedit configuration
.mcedit_config

# Directories for building the stand alone executable
/build
/dist
/pymclevel/_nbt.c
/pymclevel/*.so